:root {
  --color-main: #ff5621;
  --color-a1: #f2ff1e;
  --color-a2: #de1312;
  --color-a3: #683ce4;
  --color-a4: #10e5b2;
  --color-black: #121212;
  --color-white: #fafafa;

  --swiper-theme-color: rgba(181, 255, 0, 1);

  --swiper-pagination-right: 10px;
  --swiper-pagination-left: auto;
}

::selection {
  color: var(--color-black);
  background-color: var(--color-white);
}

.swiper-pagination.is-home .swiper-pagination-progressbar-fill {
  background-color: var(--color-main);
}

.swiper-pagination.is-about .swiper-pagination-progressbar-fill {
  background-color: var(--color-a1);
}

.swiper-pagination.is-work .swiper-pagination-progressbar-fill {
  background-color: var(--color-a2);
}

.swiper-pagination.is-service .swiper-pagination-progressbar-fill {
  background-color: var(--color-a3);
}
